.main{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 40px;
    align-items: center;
    gap: 30px;
}
.slidewrap{
    width: 750px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x:scroll;
    gap: 30px;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        display: none;
    }
}
.slidewrap button{
    border: 1px solid var(--thin-border-color);
    border-radius: 20px;
    text-wrap:nowrap;
    font-size: 17px;
    padding: 7px 20px;
}

@media (max-width:500px) {
    .main{
        padding-inline: 20px;
        gap: 10px;
    }

}