.card{
    background-color:var(--card-bg-color);
    box-shadow: 1px 2px 4px var(--box-shadow-color);
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width:500px) {
    .card{
        font-size: 13px;
    }
}